{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["svelte3"],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "globals": {
    "VERSION": "readonly",
    "PORT": "readonly",
    "SECRET": "readonly",
    "INTERNAL_IP": "readonly"
  },
  "rules": {
    "indent": [1, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "windows"],
    "semi": [2, "never"],
    "comma-dangle": [1, "always-multiline"],
    "constructor-super": 2,
    "no-confusing-arrow": 2,
    "no-console": 0,
    "no-constant-condition": 2,
    "no-class-assign": 2,
    "no-unused-vars": 2,
    "no-unused-expressions": 2,
    "no-undef": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-useless-class": 0,
    "require-yield": 2
  },
  "extends": "eslint:recommended"
}
